.top {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fdfbfb;
    z-index: 1000;
}

.topLeft,
.topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Center {
    flex: 6;
}

.ProfilePic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.fa-brands {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    transition: transform 0.3s;
}

.fa-brands:hover {
    transform: scale(1.4);
    color: skyblue;
    font-weight: bold;
}

.topList {
    display: flex;
    list-style: none;
    justify-content: center;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
}

.topListItem:hover {
    text-decoration: underline;
    font-weight: bold;
    color: skyblue;
}

.fa-solid {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    position: absolute;
    top: 36%;
    width: 50%;
    left: 92%;
}

@media screen and (max-width:480px) {
    .Center {
        display: none;
    }

    .topLeft {
        margin-left: -38px;
    }

    .topList {
        position: absolute;
        top: 36%;
        width: 50%;
        left: 36%;
    }

    .CenterMobileView {
        display: flex;
        flex-direction: column;
        background-color: black;
        height: 159px;
        position: absolute;
        width: 100%;
        top: 67px;
        color: white;
        transition: height 200ms ease;
        overflow: hidden;
    }

    .allLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 44%;
        position: absolute;
        left: -2%;
        width: 100%;
    }

    .linksItems {
        font-size: 16px;
        margin: 2px;
        width: 100%;
    }

    .profilePicRightSiide {
        position: relative;
        right: -18%;
    }

    .dottedBtn {
        border-bottom: 2px solid black;
    }

    .mobile_logout_button {
        display: flex;
        background-color: lightcoral;
        position: relative;
        left: -9%;
        width: 110%;
        justify-content: center;
        align-items: center;
    }

}